@import url('https://grombald.github.io/Common-Theme/css/min/Sigma-9-Common-Theme-1.3.8.min.css');
@import url('http://scp-int.wdfiles.com/local--code/credit:style/1');
/* Common Theme INT-Edition - CC BY-SA 3.0 - by Dr_Grom. See http://o5command-int.wikidot.com/tech-team:common-theme for more info. */
:root {
    --ct_bg_header-image: url('https://grombald.github.io/Common-Theme/img/int/body_bg_int.png');
    --ct_bg_header-logo: url('https://grombald.github.io/Common-Theme/img/int/scp-logo-int-small.png'); 
    --ct_col_searchbox-gradient-1: #003;
    --ct_col_searchbox-gradient-2: #336;
    --ct_col_searchbox-gradient-3: #669;
    --ct_col_searchbox-gradient-4: #99c;
    --ct_dim_sidebar-link-images: 40px;
}
 
div#container-wrap {
    background-image: url('https://grombald.github.io/Common-Theme/img/int/body_bg_int.png');
    background-image: var(--ct_bg_header-image); 
}
#header {
    background-image: url('https://grombald.github.io/Common-Theme/img/int/scp-logo-int-small.png');
    background-image: var(--ct_bg_header-logo);
}
 
#search-top-box-input {
    background-color: #003;
    background-color: var(--ct_col_searchbox-gradient-1);
}
#search-top-box-input:hover,
#search-top-box-input:focus {
    background-color: #336;
    background-color: var(--ct_col_searchbox-gradient-2);
}
#search-top-box-form input[type=submit] {
    background-color: #336;
    background-color: var(--ct_col_searchbox-gradient-2);
    background: -webkit-gradient(linear, left top, left bottom, from(#669),color-stop(#336),to(#003));
    background: -webkit-linear-gradient(top, #669,#336,#003);
    background: -moz-linear-gradient(top, #669,#336,#003);
    background: -o-linear-gradient(top, #669,#336,#003);
    background: linear-gradient(to bottom, #669,#336,#003);
    background: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-3),var(--ct_col_searchbox-gradient-2),var(--ct_col_searchbox-gradient-1));
}
#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#99c),color-stop(#669),to(#336));
    background: -webkit-linear-gradient(top, #99c,#669,#336);
    background: -moz-linear-gradient(top, #99c,#669,#336);
    background: -o-linear-gradient(top, #99c,#669,#336);
    background: linear-gradient(to bottom, #99c,#669,#336);
    background: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-4),var(--ct_col_searchbox-gradient-3),var(--ct_col_searchbox-gradient-2));
}
 
#side-bar .side-links img {
    height: 40px;
    height: var(--ct_dim_sidebar-link-images);
    width: 40px;
    width: var(--ct_dim_sidebar-link-images);
}
