@import url('https://grombald.github.io/Common-Theme/css/de/Common-Theme-DE-Edition.css');

/* SCP Sigma 9 - Common Theme - DE-O4-Edition - CC BY-SA 3.0 - by Dr_Grom */
 
:root {
    --ct_bg_header-image: url('https://grombald.github.io/Common-Theme/svg/de/body_bg_o4.svg');
    --ct_bg_header-logo: url('https://grombald.github.io/Common-Theme/svg/de/header-logo-o4.svg'); 
    --ct_col_searchbox-gradient-1: #333;
    --ct_col_searchbox-gradient-2: #666;
    --ct_col_searchbox-gradient-3: #999;
    --ct_col_searchbox-gradient-4: #ccc;
}
 
div#container-wrap {
    background-image: url('https://grombald.github.io/Common-Theme/img/de/body_bg_o4.png');
    background-image: var(--ct_bg_header-image); 
}
#header {
    background-image: url('https://grombald.github.io/Common-Theme/img/de/header-logo-o4.png');
    background-image: var(--ct_bg_header-logo);
}
 
#header h2 span::after {
    content: " — O4-Sektion";
}
 
#search-top-box-input {
    background-color: #333;
    background-color: var(--ct_col_searchbox-gradient-1);
}
#search-top-box-input:hover,
#search-top-box-input:focus {
    background-color: #666;
    background-color: var(--ct_col_searchbox-gradient-2);
}
#search-top-box-form input[type=submit] {
    background-color: #666;
    background-color: var(--ct_col_searchbox-gradient-2);
    background: linear-gradient(to bottom, #999,#666,#333);
    background: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-3),var(--ct_col_searchbox-gradient-2),var(--ct_col_searchbox-gradient-1));
}
#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    background-color: #999;
    background-color: var(--ct_col_searchbox-gradient-3);
    background: linear-gradient(to bottom, #ccc,#999,#666);
    background: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-4),var(--ct_col_searchbox-gradient-3),var(--ct_col_searchbox-gradient-2));
}
