@charset "utf-8";

/* SCP Sigma 9 - Common Theme - Dark-Mode 1.0 - CC BY-SA 3.0 - by Dr_Grom */

:root {
    --ct_bg_body: #171719;
    --ct_col_body-txt: #eee;
    --ct_col_h1-txt: #b11;
    --ct_col_link: #e11;
    --ct_col_image-block-contrast: #333;
    --ct_col_tab-bg: #212124;
    --ct_col_tab-menu-border: #444;
    --ct_col_blockquote-bg: #202023;
    --ct_brd_blockquote: 1px dashed #666;
    --ct_col_code-bg: #232326;
    --ct_col_code-border: #aaa;
    --ct_brd_tab_content: 1px solid #454545;
    --ct_col_tab_content-border-top: #444;
    --ct_col_hr: #555;
    --ct_col_toc-bg: #232326;
    --ct_bg_sidebar-default: #19191b;
    --ct_col_sidebar-elements: #a11;
    --ct_brd_sidebar-elements: 1px solid #766;
    --ct_shd_sidebar-block: 0 2px 6px rgba(7,0,0,.5);
    --ct_col_sidebar-subtext: #888;
    --ct_col_rate-primary: #533;
    --ct_col_rate-secondary: #ece4e0;
    --ct_col_page-title-border: #777;
    --ct_col_account-submenu-bg: #222;
    --ct_col_account-submenu-link: #e11;
    --ct_col_account-submenu-link-hover: #e11;
    --ct_brd_account-submenu: 1px solid #555;
    --ct_col_tab-menu-bg: #d8d8d8 url('https://grombald.github.io/Common-Theme/img/yuitabs.png') repeat-x;
    --ct_col_tab-menu-text: var(--ct_col_body-txt);
    --ct_col_tab-menu-border: #333;
    --ct_col_topbar-link: #d11;
    --ct_bg_topbar-item: #212124;
    --ct_bg_topbar-item-highlight: #313134;
    --ct_brd_topbar-menu-hover: solid 1px #444;
    --ct_col_m_sidebar-bg: #684646;
    --ct_brd_m_sidebar: 1px solid #8e8e8e;
    --ct_brd_m_sidebar-right: 1px solid #432b2b;
    --ct_col_m_sidebar-button-bg: #333;
    --ct_shd_m_sidebar-button: 0px 0px 20px 3px rgba(102,102,102,1);
}

/* Sidebar */
#side-bar .side-block {
    background-color: var(--ct_bg_sidebar-default) !important;
}
#side-bar:target .close-menu {
    background: rgba(0,0,0,0.4) 1px 1px repeat;
}

/* Tabview */
.yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a {
    background: ;
    background-image: linear-gradient(to bottom, #444, #444 90%, #2a2a2a 100%);
}
.yui-navset .yui-nav a em, .yui-navset .yui-navset-top .yui-nav a em {
    border-color: var(--ct_col_tab-menu-border);
}
.yui-navset .yui-nav a:hover, .yui-navset .yui-nav a:focus {
    background: #777;
    background-image: linear-gradient(to bottom, #777, #555 90%, #333 100%);
}
.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a:focus, .yui-navset .yui-nav .selected a:hover {
    background: #700;
    background-image: linear-gradient(to bottom, #961A1A, #931616 50%, #700 90%, #333 100%);
}

/* Custom classes */
.keycap {
    background-color: var(--ct_col_code-bg);
    border-color: #777 #555 #555 #777;
}
div.sexy-box {
    background: var(--ct_col_code-bg);
    border-color: var(--ct_col_code-border);
}
div.sexy-box div.image-container img {
    border-color: var(--ct_col_code-border);
}

/* Content panel */

.content-panel.series.standalone {
    background: #222220;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(68,68,68,0.3), inset 0 10px rgba(68,68,68,0.05), inset 0 10px 20px rgba(68,68,68,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
}
.content-panel {
    background-color: #4a4a46;
    border-color: #101010;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(136,136,136,0.3), inset 0 10px rgba(136,136,136,0.2), inset 0 10px 20px rgba(136,136,136,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
}
.content-panel .panel-body {
    background: #2e2e2c url('https://grombald.github.io/Common-Theme/svg/panel-bg-gradient-reverse_dark.svg') bottom repeat-x;
}
.content-panel .panel-heading {
    color: #eee;
}
.content-panel .panel-footer {
    color: #eeeee0;
}
.alternate:nth-child(2n) {
    background-color: rgba(64,64,64,.8);
    border-color: #666660;
}

/* Page menus */
.preview-message {
    background-color: var(--ct_col_image-block-contrast);
    border: 1px solid #b11;
    opacity: 1;
}
.hovertip {
    background-color: #333;
}
div.buttons input, input.button, button, file, a.button {
    background-color: #515154;
    color: #eee;
    border-color: #101010;
}
input.text,
textarea {
    background: #070709;
    color: var(--ct_col_body-txt);
    border-color: #666;
}
#lock-info {
    background-color: #232326;
    border-color: #666;
}
.change-textarea-size a,
.owindow .button-bar a {
    background-color: #515154;
    color: #eee;
    border-color: #101010;
}
.change-textarea-size a:hover,
.owindow .button-bar a:hover {
    background-color: #ddd;
    color: #000;
    text-decoration: none;
}
select {
    background: #101013;
    color: var(--ct_col_body-txt);
    border-color: #666;
}
.owindow {
    background-color: #212124;
    color: #eee;
    border-color: #666;
}
.owindow .title {
    background-color: #333;
}
table.page-files .highlight {
    background-color: #202023;
}
#file-action-area h2::after {
    background: #333330;
    border-color: #332;
}
input.checkbox,
.checkbox input,
.page-history td input,
#action-area table.form input {
    filter: invert(97%) hue-rotate(180deg);
}
