@charset "utf-8";

/* SCP Sigma 9 - Common Theme - Dev-Patch 1.3.9 - CC BY-SA 3.0 - by Dr_Grom */

:root {
 --ct_bg_header-image: url('https://grombald.github.io/Common-Theme/svg/body_bg.svg');
}
div#container-wrap {
    background-size: 100px 400px;
}
.content-panel .panel-body {
    background: #fff9f0 url('https://grombald.github.io/Common-Theme/svg/panel-bg-gradient-reverse.svg') bottom repeat-x;
}

:root {
    --ct_col_hr: #aaa;
    --ct_brd_tab_content: 1px solid #808080;
    --ct_col_tab_content-border-top: #243356;
    --ct_col_toc-bg: #f7f7f7;
    --ct_brd_toc: 1px dashed #808080;
    --ct_shd_sidebar-block: 0 2px 6px rgba(102,0,0,.5);
    --ct_col_account-submenu-bg: #fff;
    --ct_col_account-submenu-link-hover: #000;
    --ct_brd_account-submenu: 1px solid #888;
    --ct_col_tab-menu-bg: #d8d8d8 url('https://grombald.github.io/Common-Theme/img/yuitabs.png') repeat-x;
    --ct_col_tab-menu-border: #a3a3a3;
    --ct_col_tab-menu-text: #000;

}

hr {
    background-color: #aaa;
    background-color: var(--ct_col_hr);
}

.yui-navset .yui-content,
.yui-navset .yui-navset-top .yui-content {
    border: 1px solid #808080;
    border: var(--ct_brd_tab_content);
    border-top-color: #243356;
    border-top-color: var(--ct_col_tab_content-border-top);
}

#toc {
    border: var(--ct_brd_toc);
    background-color: var(--ct_col_toc-bg);
}

.yui-content blockquote,
.yui-content .code {
    border: var(--ct_brd_blockquote);
}

.yui-navset .yui-nav a,
.yui-navset .yui-navset-top .yui-nav a {
    background: #d8d8d8 url('https://grombald.github.io/Common-Theme/img/yuitabs.png') repeat-x;
    border-color: var(--ct_col_tab-menu-border);
    color: var(--ct_col_tab-menu-text);
}

#side-bar div.menu-item .sub-text {
    color: var(--ct_col_sidebar-subtext);
}

#side-bar .side-block {
    box-shadow: var(--ct_shd_sidebar-block);
}

#account-options {
    background-color: var(--ct_col_account-submenu-bg);
    border: var(--ct_brd_account-submenu);
}
#account-options li a:hover {
    color: var(--ct_col_account-submenu-link-hover);
}
.preview-message {
    top: -7px;
}

.yui-content blockquote,
.yui-content .blockquote,
.yui-content .code {
    background: #fff;
    background: var(--ct_bg_body);
    border-color: #999;
	border-color: var(--ct_brd_blockquote);
}

.bblock {
    background-color: var(--ct_col_body-txt);
    color: var(--ct_col_body-txt);
}
.bblock:hover {
    background-color: var(--ct_col_body-txt);
}
.dblock {
    background-color: var(--ct_col_body-txt);
    color: var(--ct_col_body-txt);
}
.alternate {
    padding: 5px 10px;
}
.alternate:nth-child(2n) {
    background-color: rgba(255,255,255,.9);
    border-top: solid 1px #eeeee0;
    border-bottom: solid 1px #eeeee0;
}
.content-panel .panel-body.alt-container {
	padding: 0;
}
table.page-files tr.highlight td:not(:last-child) {
    display: none;
}
#top-bar .open-menu a {
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2030%2030%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23888%22%20stroke-linejoin%3D%22bevel%22%20stroke-width%3D%222%22%3E%3Crect%20x%3D%225%22%20y%3D%229%22%20width%3D%2220%22%20height%3D%222%22%20style%3D%22paint-order%3Astroke%20markers%20fill%22%2F%3E%3Crect%20x%3D%225%22%20y%3D%2214%22%20width%3D%2220%22%20height%3D%222%22%20style%3D%22paint-order%3Astroke%20markers%20fill%22%2F%3E%3Crect%20x%3D%225%22%20y%3D%2219%22%20width%3D%2220%22%20height%3D%222%22%20style%3D%22paint-order%3Astroke%20markers%20fill%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
    color: transparent;
}

@media (max-width: 767px) {
	.side-block {
		/* width: -moz-calc(16.25em - 22px); */
		/* width: -webkit-calc(16.25em - 22px); */
		/* width: calc(16.25em - 22px); */
		width: initial;
	}
}
