/* Forum enhancements for use with the Sigma-9 Common Theme - CC BY-SA 3.0 - by Dr_Grom */

.forum-thread-box > .options a {
    margin: 0 .3em;
}
 
.post-container .post-container {
    border-left: 1px dashed #888;
    margin-left: 3%;
    padding-left: 2%;
}
.thread-container .post .long .content div,
.thread-container .post .long .content p {
    margin-top: 1em;
    margin-bottom: 1em;
}
.thread-container .post .long .content {
    clear: both;
    padding-bottom: 1em;
}
 
.thread-container .post .long .revisions {
    padding-top: 0;
}
 
.thread-container .post .options a,
.thread-container .post .long .changes a {
    color: #b01;
    color: var(--ct_col_link);
}
 
.thread-container .post .changes .printuser::after {
    content: " -";
}
#page-content .thread-container .post .long .changes {
    margin-left: 98px;
}
 
.thread-container .post .options a {
    margin-left: .5em;
}
 
.thread-container .post .options strong ~ a::before {
    content: "+ ";
}
 
.thread-container .post .options strong {
    background-color: #F7F7F7;
    border: 1px solid #999;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin-top: -12px;
    padding: 5px 10px;
}
.thread-container .post .options strong a {
    margin: 0;
}
 
.thread-container .post .short {
    background-color: #eee;
    background: linear-gradient(to right, #eee, #eeecec);
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: inset 1px 2px 6px rgba(0,0,0,.15);
}
.thread-container .post .short .options {
    color: #b01;
    color: var(--ct_col_link);
}
.thread-container .post .short .title {
    font-weight: bold;
}
